
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UPI to QR Code Generator</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <form action="generate" method="POST">{% csrf_token %} 
    <h1>UPI to QR Code Generator</h1>
    <div class="container">
      <div class="h3">
        <h3>All in one QR code</h3>
      </div>
      <div class="options">
        <label for="google-pay" class="option-label google-label">Google Pay</label>
        <label for="phonepe" class="option-label phonepe-label">PhonePe</label>
        <label for="paytm" class="option-label paytm-label">Paytm</label>
      </div>
      <label >Enter Your Name:</label>
      <input type="text" required  name="name" placeholder="e.g.,Shyam Rajput">

      <label for="upi-id">Enter UPI ID:</label>
      <input type="text" required id="upi-id" name="upi_id" placeholder="e.g., 1234567890@upi">
      <button type="submit">Generate QR Code</button>
    </div>

  </form>
</body>
</html>
